body
{
	background:#3a4149;
	padding:0px;
	margin:0px;
	font-family: "AvenirNext", "Helvetica Neue", helvetica, arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p,form,fieldset,html
{
	padding:0px;
	margin:0px;
}
header,footer,nav,article,section,aside,figure,figcaption
{
	padding:0px;
	margin:0px;
}
img
{
   border:none;
   outline:none;	
}
a img
{
   border:none;
   text-decoration:none;
   outline:none;
}
a 
{ 
   text-decoration:none;
 } 
.clear 
{
   clear:both; 
}
.wrapper
{
	width:684px;
	height:901px;
	background:url(../images/black_ipad-1376a3d20f0479241efcc6fb0443a18e.png) top center no-repeat;
	margin:-60px auto 0px auto;
	padding-top:80px;
}
.top_bar_bg
{
	
	width:579px;
	height:20px;
	background:#000;
	margin:0px auto 0px 51px;
	border-top:2px solid #09090a;
	border-left:2px solid #09090a;
	border-right:2px solid #09090a;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	-moz-border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	text-align:center;
}
.content
{
	background:#FFF;
	width:576px;
	margin:0px auto;
	height:762px;
	overflow:auto;
}
.logo
{
	float:left;
	padding:10px;
	
}
.top_right
{
	float:right;
	padding:23px 10px 0px 0px;
	text-transform:uppercase;
	font-weight:bold;
}
.top_right span
{
  float:left;	
}
.top_right span.linkbutton
{
	
	padding:7px 10px 0px 0px;
	color:#2687ce;
	font-size:12px;
}
.top_right span.linkbutton a,visited:link
{
	color:#2687ce;
	text-decoration:none;
}

a.btn 
{
	position: relative;
    color:#FFF;
    text-decoration: none;
    background-color: #f4771b;
    font-size:11px;
    display: block;
    padding: 7px 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 0px rgba(209,89,0,1), 0px 3px 0px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 2px 0px rgba(209,89,0,1), 0px 3px 0px rgba(0,0,0,.7);
    box-shadow: 0px 2px 0px rgba(209,89,0,1), 0px 3px 0px rgba(0,0,0,.7);
    margin: 0px;
	
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	text-transform:uppercase;
}

a.btn:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
  	color:#FFF;
	text-decoration:none;
}
.top_content
{
	background:#e8e8e8;
	width:100%;
	margin:0px;
	padding:10px 0px 0px 0px;
	height:auto;
	position:relative;
	
}
.top_content p
{
	text-align:center;
	font-size:20px;
	color:#868686;
	line-height:28px;
}
.top_content p.orange
{
  color:#f27512;
  font-weight:bold;	
  font-size:22px;
}

.tab_menu
{
	width:100%;
	margin:30px 0px 0px 0px;
	padding:0px;
}
.tab_menu ul
{
	list-style:none;
	padding:0px;
	margin:0px 20px 0px 20px;
	width:520px;
	
	
}
.tab_menu ul li
{
	float:left;
	display:inline;
	background:#014576;
	padding:10px 0px 0px 0px;
	width:50%;
	height:115px;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	color:#2b8fd5;
	cursor:pointer;
}
.tab_menu ul li.active
{
	
	background:#2a8bcf;
	padding:10px 0px 0px 0px;
	width:50%;
	height:125px;
	margin:-10px 0px 0px 0px;
	color:#FFF;
	cursor:pointer;
	
}
.tab_menu ul li span
{
	display:block;
	width:100%;
	float:left;
	
}
#tab1.active span
{
	background:url(../images/practice_active_icon.png) top center no-repeat;
	padding:70px 0px 10px 0px;
	margin-top:10px;
}
#tab1 span
{
	background:url(../images/practice_icon.png) top center no-repeat;
	padding:70px 0px 10px 0px;
	margin-top:10px;
}
#tab2.active span
{
	background:url(../images/equipment_active_icon.png) top center no-repeat;
	padding:70px 0px 10px 0px;
	margin-top:10px;
}
#tab2 span
{
	background:url(../images/equipment_icon.png) top center no-repeat;
	padding:70px 0px 10px 0px;
	margin-top:10px;
}
.tab1_content
{
	width:100%;
	position:relative;
}
.tab2_content
{
	width:100%;
	position:relative;
}
.plus_btn
{
	position:absolute;
	left:270px;
	bottom:-20px;
	cursor:pointer;
}
.sub
{
	width:50%;
	float:left;
	text-align:center;
}
.sub .sub_content
{
	width:200px;
	margin:0px auto;
	
	
}
.sub .sub_content h3
{
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	padding:20px 0px 0px 0px;
	margin:0px;
}
.sub .sub_content span
{
	color:#FFF;
	font-size:12px;
	padding:0px;
	clear:both;
	display:block;
	margin:0px 0px 20px 0px;
}
.sub .sub_content label
{
	float:none;
	text-align:left;
	font-size:13px;
	color:#FFF;
	display:block;
}
.sub .sub_content select
{
	float:none;
	text-align:left;
	font-size:13px;
	color:#014576;
	display:block;
	background:#FFF;
	width:180px;
	padding:3px 5px;
	margin:4px 0px 10px 0px;
	border:none;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.sub .sub_content .btn
{
	width:152px;
	font-size:13px;
	font-weight:bold;
	margin-bottom:6px;
}
.sub .sub_content p.text
{
	color:#064876;
	font-size:11px;
	line-height:15px;
	padding:0px;
	text-align:left;
}
.sub .sub_content p.text a,visited:link
{
	color:#c8e8ff;
	text-decoration:underline;
}
.sub .sub_content p.text a:hover
{
	color:#c8e8ff;
	text-decoration:none;
}
.tabs
{
	position:relative;
	background:#2a8bcf;
	height:auto;
	min-height:200px;
	padding:0px 0px 30px 0px;
}
.middle_content
{
	background:#FFF;
	width:100%;
	min-height:200px;
	height:auto;
	display:block;
	
}
.middle_content h2
{
	font-size:18px;
	color:#333;
	padding:30px 0px 0px 0px;
	text-align:center;
}
.middle_content ul
{
	list-style:none;
	padding:0px;
	margin:20px 0px;
}

.middle_content ul li, .bottom_content ul li
{
	list-style:none;
	float:left;
	width:33%;
	display:inline;
	text-align:center;
}

.middle_content ul li h4
{
	
	display:block;
	font-size:14px;
	color:#5ba5d5;
	padding:0px 0px 10px 0px;
	width:90%;
	margin:0px auto;
}
.middle_content ul li p
{
	
	display:block;
	font-size:12px;
	color:#333;
	padding:0px 0px 10px 0px;
	width:90%;
	margin:0px auto;
}
.bottom_content
{
	background:#e8e8e8;
	width:100%;
	min-height:200px;
	position:relative;
	height:auto;
	margin:30px 0px 0px 0px;
	padding:0px 0px 20px 0px;
}
.bottom_content h3
{
	color:#6d6d6d;
	font-size:18px;
	padding:30px 0px 0px 0px;
	text-align:center;
}
.plus_icon1
{
	position:absolute;
	top:-18px;
	left:270px;
	cursor:pointer;
}
.footer_top
{
	background:#014576;
	height:122px;
	width:100%;
}
.footer_top p
{
	color:#2a8bcf;
	font-size:12px;
	padding:30px;
}
.footer_top p span, .footer_top p img
{
	float:left;
}
.footer_top p span
{
	padding:22px 0px 0px 10px;
}
.footer
{
	background:#002e4f;
	height:35px;
	width:100%;
	text-align:right;
	position:relative;
}
.footer_nav_icon
{
	float:right;
	padding:2px 30px 0px 0px;
}
.arrow
{
	position:absolute;
	top:-29px;
	right:20px;
	background:url(../images/arrow.png) no-repeat;
	width:53px;
	height:31px;
	
}








