
			<div class="clearfix"></div>
			<!--greybanner start-->
			<div class="bannermain col-lg-12" >

				<div class="container">
					<div class="row" >
						<!--feature start-->
						<span class="txt_center">

							<h2>A one-stop marketplace <br>
								for buying and selling medical<br>
								practices and equipment.</h2>
								<h2 class="get_started"><a href="#">Get started</a></h2>
							</span>
							<div><img src="/assets/practice.jpg" ></div>

							<!--feature end-->
						</div>

					</div>

				</div>

				<!--greybanner end-->
				<!--content start-->
				<div class="homecontentarea col-lg-12" >
					<!--container start-->
					<div class="container">
						<div class="row" >
							<!--feature start-->

							<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li><h2>Looking to buy?</h2></li>
									<li><p>Sreach for free.</p></li>
									<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
									<li class="col-lg-push-1 col-lg-10"><!-- <select class="form-control input-lg m-bot15">
										<option>Solo Practice</option>
										<option>Group Practices</option>
										<option>Other Types of Practice</option>
									</select> -->
									<%= select_tag :practice_id, options_for_select(Practice.all.map { |practice| [practice.name, practice.id] }), class: 'form-control input-lg m-bot15'%>
									</li>
									<li class="col-lg-push-1 col-lg-10">Price Range</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>200 USD</option>
										<option>500 USD</option>
										<option>800 USD</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Location</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu" onchange="create('firstmenu','location1','tn')">
										<option>AL</option>
										<option>NY</option>
										<option value="a">TN</option>
										<option>OK</option>
										<option>NJ</option>
										<option>WA</option>
										<option>CA</option>
										<option>TX</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10" id="location1"> </li>
									<li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>

									<li class="forbuy_txt col-lg-10">To begin the buying process, you will need to register for an HMM account. <a href="#">Learn more</a> about the buying process.</li>
								</ul>

							</div>


							<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li><h2>Selling your practice?</h2></li>
									<li><p>Selling your practice?</p></li>
									<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>Solo Practice</option>
										<option>Group Practices</option>
										<option>Other Types of Practice</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10">Cash Collection (Last 2 months)</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>100 USD</option>
										<option>150 USD</option>
										<option>500 USD</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Number Of Patients</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option> 1</option>
										<option> 2</option>
										<option> 3</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Location</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu1" onchange="create('firstmenu1','location2','mid_tn')">
										<option>AL</option>
										<option>NY</option>
										<option value="a">TN</option>
										<option>OK</option>
										<option>NJ</option>
										<option>WA</option>
										<option>CA</option>
										<option>TX</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10" id="location2"> </li>
									<li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>

									<li class="forbuy_txt col-lg-10"><a href="#">How is MM Range Calculated?</a></li>
								</ul>

							</div>


							<!--feature end-->
						</div>

					</div>

				</div>

				<!--content end-->

				<%= render 'layouts/white_banner'%>
				<%= render 'layouts/bottom_banner'%>
				
				<!--greybanner end-->






