<<<<<<< HEAD
 <link href="css/theme.css" rel="stylesheet">
    
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/flexlider.css"/>
    <link href="assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />

    <link rel="stylesheet" href="assets/revolution_slider/css/rs-style.css" media="screen">
    <link rel="stylesheet" href="assets/revolution_slider/rs-plugin/css/settings.css" media="screen">

    <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
   <link href="css/style-responsive.css" rel="stylesheet" />
    <!--header start-->

   <div class="col-lg-12" style="background-color:#FFF;">
       <div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="index.html"> <img src="assets/logo.png"> </a></div>
       
       <div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">Login</div>
         <div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 "><a onclick="document.getElementById('div_name1').style.display=''; document.getElementById('div_name2').style.display='';return false;" href="" style="text-decoration:none;"> <button type="button" class="btn btn-shadow btn-danger" style="width:100px;">REGISTER</button></a>  </div>
<div class="clearfix"></div>
    <div style="display:none" id="div_name2">   
<div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="index.html">&nbsp;</a></div>
       
       <div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">&nbsp;</div>
         <div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 "> <a onclick="document.getElementById('div_name1').style.display='none'; document.getElementById('div_name2').style.display='none';return false;" href="" style="text-decoration:none; text-align:right; "> <button type="button" class="btn btn-shadow btn-danger" style="width:100px; height:70px;margin-top:-50px; "><img src="assets/close.png"></button></a>  </div>
</div>
    
   
   </div>
     







  <div id="div_name1"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="display:none; background-color:#f07916;box-shadow: 0 4px #cb4e00; position:absolute; top:88px; z-index:10; padding-bottom:20px; ">
 <div class="col-lg-12">
 <ul>
<li style="list-style:none;"><h3 class="wrd_white col-lg-12 col-lg-push-4 col-md-push-4">Become a Qualified HMM Member</h3></li>
  <li style="list-style:none;" class="forbuy_txt">Already a member?<a href="#">  LOGIN</a></li>
</ul>
</div>
<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<div style="background-color:#d15c00; padding:10px; height:40px; border-radius:2px;" class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="radio" value=""></li>
<li class="col-lg-3" style="float:left;list-style:none;">Provider</li>
<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="radio" value=""></li>
<li class="col-lg-3" style="float:left;list-style:none;">Broker</li></div>
<ul >

<div class="clearfix"></div>
<li class="wrds col-lg-10">Full Name</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">License Number</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<div class="clearfix"></div>
<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="checkbox" value=""></li>
 <li class="forbuy_txt col-lg-9">I verify that i have read all <a href="#"> Terms & Conditions </a>and that i represent no other party than myself</li>
</ul>

</div>

<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<ul>
<li class="wrds col-lg-10">Email Address</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">Password</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">Verify Password</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class=" col-lg-10"><button type="button" class="btn btn-shadow btn-info">SIGN UP</button></li><br><br>

</ul>

</div>

</div>
    <!--header end-->
<div class="clearfix"></div>
    <!--greybanner start-->
<div class="bannermain col-lg-12" >

    <div class="container">
        <div class="row" >
            <!--feature start-->
            <span class="txt_center">
            <br>       
<h4>A one-stop marketplace <br>
for buying and selling medical<br>
practices and equipment.</h4>
<h2 class="get_started"><a href="#"><h4>Get started</h4></a></h2>
</span>
<div><img src="/assets/practice.jpg" ></div>
  
            <!--feature end-->
        </div>

    </div>

</div>

    <!--greybanner end-->
    <!--content start-->
<div class="homecontentarea col-lg-12" >
    <!--container start-->
    <div class="container">
        <div class="row" >
            <!--feature start-->
       
<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<ul>
<li><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp Looking to buy?</h4></li>
<li><p>Sreach for free.</p></li>
<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
                                             <option>Solo Practice</option>
                                              <option>Group Practices</option>
                                              <option>Other Types of Practice</option>
                                          </select></li>
<li class="col-lg-push-1 col-lg-10">Price Range</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
                                              <option>200 USD</option>
                                              <option>500 USD</option>
                                              <option>800 USD</option>
                                          </select></li>
                                          <li class="col-lg-push-1 col-lg-9">Location</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu" onchange="create('firstmenu','location1','tn')">
                                              <option>AL</option>
                                              <option>NY</option>
                                              <option value="a">TN</option>
                                              <option>OK</option>
                                              <option>NJ</option>
                                              <option>WA</option>
                                              <option>CA</option>
                                              <option>TX</option>
                                          </select></li>
                                          <li class="col-lg-push-1 col-lg-10" id="location1"> </li>
 <li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>
 
  <li class="forbuy_txt col-lg-10">To begin the buying process, you will need to register for an HMM account. <a href="#">Learn more</a> about the buying process.</li>
</ul>

</div>

    
<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<ul>
<li><h4>Selling your practice?</h4></li>
<li><p>Selling your practice?</p></li>
<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
                                              <option>Solo Practice</option>
                                              <option>Group Practices</option>
                                              <option>Other Types of Practice</option>
                                          </select></li>
<li class="col-lg-push-1 col-lg-10">Cash Collection (Last 2 months)</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
                                              <option>100 USD</option>
                                              <option>150 USD</option>
                                              <option>500 USD</option>
                                          </select></li>
                                          <li class="col-lg-push-1 col-lg-9">Number Of Patients</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
                                              <option> 1</option>
                                              <option> 2</option>
                                              <option> 3</option>
                                          </select></li>
 <li class="col-lg-push-1 col-lg-9">Location</li>
<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu1" onchange="create('firstmenu1','location2','mid_tn')">
                                                <option>AL</option>
                                              <option>NY</option>
                                              <option value="a">TN</option>
                                              <option>OK</option>
                                              <option>NJ</option>
                                              <option>WA</option>
                                              <option>CA</option>
                                              <option>TX</option>
                                          </select></li>
                                          <li class="col-lg-push-1 col-lg-10" id="location2"> </li>
 <li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>
 
<li class="forbuy_txt col-lg-10"><a href="#">How is MM Range Calculated?</a></li>
</ul>
=======

<!--header start-->

<header class="global-header" >
	<div class=" col-lg-12">
		<div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="<%= '/' %>"> <img src="/assets/logo.png" > </a></div>

		<div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">  
			 <% if current_user %>
			  <%= link_to 'Logout', destroy_user_session_path, :style => 'color: #e97c00;' %>  
			 <% else %>  
			<a onclick="document.getElementById('div_name3').style.display=''; document.getElementById('div_name1').style.display='none';document.getElementById('div_name2').style.display='none';return false;" href="" style="text-decoration:none;"> 
				<button type="button" class="btn btn-shadow btn-danger" style="width:100px;">Login</button>
			</a>
		    <%#= link_to 'Login', new_user_session_path, :style => 'color: #e97c00;' %>  
			 <% end %>
		</div>
		<div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 ">
			<a onclick="document.getElementById('div_name1').style.display=''; document.getElementById('div_name2').style.display='';return false;" href="" style="text-decoration:none;"> 
				<button type="button" class="btn btn-shadow btn-danger" style="width:100px;">REGISTER</button>
			</a> 
		</div>
			<div class="clearfix"></div>
			<div style="display:none" id="div_name2">
				<div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="index.html">&nbsp;</a></div>

				<div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">&nbsp;</div>
				<div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 "> <a onclick="document.getElementById('div_name1').style.display='none'; document.getElementById('div_name2').style.display='none';return false;" href=""
					style="text-decoration:none; text-align:right; "> <button type="button" class="btn btn-shadow btn-danger" style="width:100px; height:70px;margin-top:-50px; "><img src="/assets/close.png" ></button></a>  </div>
				</div>


			</div>
>>>>>>> cd54d6534d3e6666b63d418105e9d90ba912843b

 
<<<<<<< HEAD
      </div>
    </footer>
    <!--footer end-->
    <!--footer nav-->
  <script type="text/javascript" >
var originalNavClasses;

function toggleNav() {
    var elem = document.getElementById('navigation_list');
    var classes = elem.className;
    if (originalNavClasses === undefined) {
        originalNavClasses = classes;
    }
    elem.className = /expanded/.test(classes) ? originalNavClasses : originalNavClasses + ' expanded';
}
</script>
    <!--footer nav-->
    <!-- js placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/hover-dropdown.js"></script>
  <script defer src="js/jquery.flexslider.js"></script>
  <script type="text/javascript" src="/assets/bxslider/jquery.bxslider.js"></script>

  <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>

  <script src="js/jquery.easing.min.js"></script>
  <script src="js/link-hover.js"></script>

  <script src="/assets/fancybox/source/jquery.fancybox.pack.js"></script>

  <script type="text/javascript" src="/assets/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="/assets/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!--common script for all pages-->
  <script src="js/common-scripts.js"></script>

  <script src="js/revulation-slide.js"></script>
  
  t
<!--location script start-->
<script>
=======
		</header>

  
		<div id="div_name1"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="display:none; background-color:#f07916;box-shadow: 0 4px #cb4e00; position:absolute; top:88px; z-index:10; padding-bottom:20px; ">
			<div class="col-lg-12">
				<ul>
					<li style="list-style:none;"><h3 class="wrd_white col-lg-12 col-lg-push-4 col-md-push-4">Become a Qualified HMM Member</h3></li>
					<li style="list-style:none;" class="forbuy_txt">Already a member?<a href="#">  LOGIN</a></li>
				</ul>
			</div>
			<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<% if session[:new_account_created] && session[:new_account_created] == true  %>  
				
				
				<div class="col-lg-12">
					<ul>
						<li style="list-style:none;"><h3 class="wrd_white col-lg-12 col-lg-push-4 col-md-push-4">Congratulations</h3></li>
						<li style="list-style:none;" class="forbuy_txt">You Professional information has been verified.</li>  
						<li style="list-style:none;" class="forbuy_txt">You may post or shop for listing as a </li>    
						<li style="list-style:none;" class="forbuy_txt">Qualified HMM Member!  </li>   
						<li style="list-style:none;" class="forbuy_txt"> <a type="submit" class="btn btn-shadow btn-info">CREATE A LISTING</a>     </li>   
						<li style="list-style:none;" class="forbuy_txt"> <a type="submit" class="btn btn-shadow btn-info">BROWSE A MARKET PLACE</a>    </li>    
					</ul>
				</div>
>>>>>>> cd54d6534d3e6666b63d418105e9d90ba912843b
			
				    <script>    
				 $(document).ready(function () {   
					     $('#div_name1').hide();
					     $('#div_name2').show(); 
					})
					   </script>
				<% else %>  
				 
				      <%= render :partial => 'user_form'%> 
				<% end %>

			</div> 
		</div>  
		
		 <!--header end-->
			<div class="clearfix"></div>
			<!--greybanner start-->
			<div class="bannermain col-lg-12" >

				<div class="container">
					<div class="row" >
						<!--feature start-->
						<span class="txt_center">

							<h2>A one-stop marketplace <br>
								for buying and selling medical<br>
								practices and equipment.</h2>
								<h2 class="get_started"><a href="#">Get started</a></h2>
							</span>
							<div><img src="/assets/practice.jpg" ></div>

							<!--feature end-->
						</div>

					</div>

				</div>

				<!--greybanner end-->
				<!--content start-->
				<div class="homecontentarea col-lg-12" >
					<!--container start-->
					<div class="container">
						<div class="row" >
							<!--feature start-->

							<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li><h2>Looking to buy?</h2></li>
									<li><p>Sreach for free.</p></li>
									<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>Solo Practice</option>
										<option>Group Practices</option>
										<option>Other Types of Practice</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10">Price Range</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>200 USD</option>
										<option>500 USD</option>
										<option>800 USD</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Location</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu" onchange="create('firstmenu','location1','tn')">
										<option>AL</option>
										<option>NY</option>
										<option value="a">TN</option>
										<option>OK</option>
										<option>NJ</option>
										<option>WA</option>
										<option>CA</option>
										<option>TX</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10" id="location1"> </li>
									<li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>

									<li class="forbuy_txt col-lg-10">To begin the buying process, you will need to register for an HMM account. <a href="#">Learn more</a> about the buying process.</li>
								</ul>

							</div>


							<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li><h2>Selling your practice?</h2></li>
									<li><p>Selling your practice?</p></li>
									<li class="col-lg-push-1 col-lg-10">Type of Practice</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>Solo Practice</option>
										<option>Group Practices</option>
										<option>Other Types of Practice</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10">Cash Collection (Last 2 months)</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option>100 USD</option>
										<option>150 USD</option>
										<option>500 USD</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Number Of Patients</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15">
										<option> 1</option>
										<option> 2</option>
										<option> 3</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-9">Location</li>
									<li class="col-lg-push-1 col-lg-10"><select class="form-control input-lg m-bot15" id="firstmenu1" onchange="create('firstmenu1','location2','mid_tn')">
										<option>AL</option>
										<option>NY</option>
										<option value="a">TN</option>
										<option>OK</option>
										<option>NJ</option>
										<option>WA</option>
										<option>CA</option>
										<option>TX</option>
									</select></li>
									<li class="col-lg-push-1 col-lg-10" id="location2"> </li>
									<li class="col-lg-push-3 col-lg-8"><button type="button" class="btn btn-shadow btn-danger">Search Practices</button></li>

									<li class="forbuy_txt col-lg-10"><a href="#">How is MM Range Calculated?</a></li>
								</ul>

							</div>


							<!--feature end-->
						</div>

					</div>

				</div>

				<!--content end-->

				<!--whitebanner start-->
				<div class="homecontentarea2 col-lg-12" >

					<div class="container">
						<div class="row" >
							<div class="plus_icon" ><img src="/assets/blue_plus.jpg" ></div>
							<h1 class="txt_center"> Why Use Healthcare Market Maker?</h1>
							<!--feature start-->
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>

							<!--feature end-->
						</div>

					</div>

				</div>

				<!--whitebanner end-->
				<!--greybanner start-->
				<div class="bannermain col-lg-12" >

					<div class="container">
						<div class="row " >
							<!--feature start-->
							<div class="plus_icon" ><img src="/assets/white_plus.jpg" ></div>
							<div  class="whtebg">
								<h1 class="txt_center2"> Proud Partners</h1>
								<div class="col-lg-push-1 col-lg-4 col-md-4 col-sm-4  col-xs-12">
									<section>
										<div class="circle"><div class="txt_center circle_img" ><img src="/assets/ada.jpg"></div></div>
									</section>
								</div>
								<div class="col-lg-push-1 col-lg-4 col-sm-4">
									<section>
										<div class="circle"><div class="txt_center circle_img" ><img src="/assets/ama.jpg"></div></div>
									</section>
								</div>
								<div class="col-lg-push-1 col-lg-4 col-sm-4">
									<section>
										<div class="circle"><div class="txt_center circle_img" ><img src="/assets/aca.jpg"></div></div>
									</section>
								</div>
							</div>
							<!--feature end-->
						</div>

					</div>

				</div>

				<!--greybanner end-->

				<!--footer start-->
				<footer class="footer  col-lg-12">
					<div class="footercontainer col-lg-12">
						<div class="row">
							<div class="footertext"><i><img src="/assets/footer_logo.jpg"></i>© 2013 Healthcare MarketMaker</div>

						</div>

					</div>
					<div class="footerimage"><img src="/assets/arrow_bottom.jpg" ></div>
					<div class="footer_menu" >
						<div style="background-color:#9F0; height:25px;">
							<nav id="navigation">
								<a class="menu_button" href="#footer_nav" onclick="toggleNav(); return false;"><img src="/assets/toggle_button.jpg" width="52" height="50"> </a>
								<ul id="navigation_list" role="navigation">
									<li><a href=#>HOME</a></li>
									<li><a href=#>SERVICES</a></li>
									<li><a href=#>WORK</a></li>
									<li><a href=#>CONTACT</a></li>
								</ul>
							</nav>

						</div>

					</div>
				</footer>
			 





