
   
 
<div class="clearfix"></div>
    <!--greybanner start-->
<div class="bannermain col-lg-12" >

    <div class="container">
        <div class="row" ><br><br>
            <!--feature start-->
            <!--<span class="txt_center">
       
<h2>A one-stop marketplace <br>
for buying and selling medical<br>
practices and equipment.</h2>
<h2 class="get_started"><a href="#">Get started</a></h2>
</span>-->
<div><img src="/assets/login.JPG" ></div>
  
            <!--feature end-->
        </div>

    </div>

</div>

    <!--greybanner end-->


    <!--content start-->
<div class="homecontentarea col-lg-12" >
    <!--container start-->
    <div class="container">
        <div class="row" >
            <!--feature start-->
       
<div class="forbuy col-lg-push-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
<ul>

<li class="wrds col-lg-push-1 col-lg-3">User Name</li>
<li class="col-lg-push-1 col-lg-8"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-push-1 col-lg-3" >Password</li>
<li class="col-lg-push-1 col-lg-8"><input name="" class="form-control input-lg m-bot15" type="text"></li>
 <li class="col-lg-push-4 col-lg-6"><button type="button" class="btn btn-shadow btn-danger">Submit</button></li>

<li class="col-lg-push-4 col-lg-8"><a href="#">Forgot Password ?<//li>
 <li class="col-lg-push-4 col-lg-6"><button type="button" class="btn btn-shadow btn-danger">Sign up Now</button></li>


 
  
</ul>
</div>

    


  
            <!--feature end-->
        </div>

    </div>

</div>
    
    <!--content end-->

<%= render "layouts/bottom_banner" %>
        
 

