<!--greybanner start-->
<div class="bannermain col-lg-12" >

    <div class="container">
        <div class="row " >
            <!--feature start-->
<div class="plus_icon" ><img src="/assets/blue_plus_gry.jpg" ></div>>
 <div  class="whtebg">
 <h1 class="txt_center2"> Proud Partners</h1>
  <div class="col-lg-push-1 col-lg-4 col-md-4 col-sm-4  col-xs-12">
                <section>
                <div class="circle"><div class="txt_center circle_img" ><img src="/assets/ada.jpg"></div></div>
                </section>
            </div>
              <div class="col-lg-push-1 col-lg-4 col-sm-4">
                <section>
                <div class="circle"><div class="txt_center circle_img" ><img src="/assets/ama.jpg"></div></div>
                </section>
            </div>
              <div class="col-lg-push-1 col-lg-4 col-sm-4">
                <section>
                <div class="circle"><div class="txt_center circle_img" ><img src="/assets/aca.jpg"></div></div>
                </section>
            </div>
</div>  
            <!--feature end-->
        </div>

    </div>

</div>

    <!--greybanner end-->

   