<!--header start-->

    <header class="global-header" >
       <div class=" col-lg-12">
       <div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="index.html"> <img src="/assets/logo.png" > </a></div>
       
       <div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">Login</div>
         <div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 "><a onclick="document.getElementById('div_name1').style.display=''; document.getElementById('div_name2').style.display='';return false;" 
href="" style="text-decoration:none;"> <button type="button" class="btn btn-shadow btn-danger" style="width:100px;">REGISTER</button></a>  </div>
<div class="clearfix"></div>
    <div style="display:none" id="div_name2">   
<div class=" col-lg-10 col-md-10 col-sm-9 col-xs-8"> <a href="index.html">&nbsp;</a></div>
       
       <div class="login_text col-lg-1 col-md-1 col-sm-1 col-xs-2">&nbsp;</div>
         <div class="reg_button col-lg-1 col-md-1 col-sm-1 col-xs-2 "> <a onclick="document.getElementById('div_name1').style.display='none'; document.getElementById('div_name2').style.display='none';return false;" href="" 
style="text-decoration:none; text-align:right; "> <button type="button" class="btn btn-shadow btn-danger" style="width:100px; height:70px;margin-top:-50px; "><img src="/assets/close.png" ></button></a>  </div>
</div>
    
   
   </div>
     



  </header>



  <div id="div_name1"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="display:none; background-color:#f07916;box-shadow: 0 4px #cb4e00; position:absolute; top:88px; z-index:10; padding-bottom:20px; ">
 <div class="col-lg-12">
 <ul>
<li style="list-style:none;"><h3 class="wrd_white col-lg-12 col-lg-push-4 col-md-push-4">Become a Qualified HMM Member</h3></li>
  <li style="list-style:none;" class="forbuy_txt">Already a member?<a href="#">  LOGIN</a></li>
</ul>
</div>
<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<div style="background-color:#d15c00; padding:10px; height:40px; border-radius:2px;" class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="radio" value=""></li>
<li class="col-lg-3" style="float:left;list-style:none;">Provider</li>
<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="radio" value=""></li>
<li class="col-lg-3" style="float:left;list-style:none;">Broker</li></div>
<ul >

<div class="clearfix"></div>
<li class="wrds col-lg-10">Full Name</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">License Number</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<div class="clearfix"></div>
<li class="col-lg-1" style="float:left;list-style:none;"><input name="" type="checkbox" value=""></li>
 <li class="forbuy_txt col-lg-9">I verify that i have read all <a href="#"> Terms & Conditions </a>and that i represent no other party than myself</li>
</ul>

</div>

<div class="forbuy col-lg-push-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
<ul>
<li class="wrds col-lg-10">Email Address</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">Password</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class="wrds col-lg-10">Verify Password</li>
<li class=" col-lg-10"><input name="" class="form-control input-lg m-bot15" type="text"></li>
<li class=" col-lg-10"><button type="button" class="btn btn-shadow btn-info">SIGN UP</button></li><br><br>

</ul>

</div>

</div>
   <!--header end-->