<!--whitebanner start-->
				<div class="homecontentarea2 col-lg-12" >

					<div class="container">
						<div class="row" >
							<div class="plus_icon" ><img src="/assets/blue_plus.jpg" ></div>
							<h1 class="txt_center"> Why Use Healthcare Market Maker?</h1>
							<!--feature start-->
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>
							<div class="col-lg-4 col-sm-4">
								<section>
									<div class="txt_center"><img src="/assets/home_img01.jpg"></div>
									<h2 class="txt_center_title">Safe, Secure & Verified</h2>
									<p class="txt_center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
								</section>
							</div>

							<!--feature end-->
						</div>

					</div>

				</div>

				<!--whitebanner end-->